﻿@model WeekReview2.Models.Recipe
@{
    ViewBag.Title = "Comment";
}

<h2>Comment</h2>
<div class="dl-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Name)
            @Html.HiddenFor(model => model.Ingredient)
            @Html.HiddenFor(model => model.Like)
            <div class="form-group">
                @Html.LabelFor(model => model.TempComment, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TempComment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TempComment, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.Comment)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Comment" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</div>
<div>
    @Html.ActionLink("View comments & Likes", "ViewComment", new { id = Model.Id }) |
    @Html.ActionLink("Back to recipes", "Index")
</div>
