﻿@model WeekReview2.Models.Recipe

@{
    ViewBag.Title = "Details";
}

<h2>Recipe Details</h2>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient)
        </dd>
    </dl>



</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Comment", "Comment", new { id = Model.Id }) |
    @Html.ActionLink("Like", "Like", new { id = Model.Id }) |
    @Html.ActionLink("Back to recipes", "Index")
</p>