﻿@model WeekReview2.Models.Recipe
@{
    ViewBag.Title = "Like";
}

<h2>Like</h2>
<div class="dl-horizontal">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Name)
            @Html.HiddenFor(model => model.Ingredient)
            @Html.HiddenFor(model => model.Like)
            @Html.ViewData.Model.Like
            @Html.HiddenFor(model => model.Comment)
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Like" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    }

</div>
<div>
    @Html.ActionLink("View comments & Likes", "ViewComment", new { id = Model.Id }) |
    @Html.ActionLink("Back to recipes", "Index")
</div>
