﻿@model WeekReview2.Models.Recipe
@{
    ViewBag.Title = "ViewComment";
}

<h2>View Comments & Likes</h2>
<div>
    <hr>
    @Html.DisplayFor(model => model.Name)
    <h6>Comments & Likes: </h6>

    <dl class="dl-horizontal">

        <dd>
            * @Html.ViewData.Model.Like likes
            @foreach (string item in Model.Comment.Split('Æ'))
            {

                @item<br>
            }

        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Back to comment", "Comment", new { id = Model.Id })
</p>
